<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\Application\Accounting\Accounting.Web.Tests\packages.config" />
  <repository path="..\..\Application\Accounting\Accounting.Web\packages.config" />
  <repository path="..\..\Application\AuditingCenterTestApp\GlobalTranz.AuditingCenter.Web.TestApp\packages.config" />
  <repository path="..\..\Application\CarrierRate.2\CR2.Web\packages.config" />
  <repository path="..\..\Application\CommandCenter\Silverlight\packages.config" />
  <repository path="..\..\Application\RatingCenter\GlobalTranz.RatingCenter.Web.UnitTest\packages.config" />
  <repository path="..\..\Application\RatingCenter\GlobalTranz.RatingCenter.Web\packages.config" />
  <repository path="..\..\Application\RatingEngineTestApp\GlobalTranz.RatingCenter.RatingEngine.Web.TestApp\packages.config" />
  <repository path="..\..\Application\ShipperCenter\ShipperCenter.MobileWeb\ShipperCenter.MobileWeb\packages.config" />
  <repository path="..\..\Application\ShipperCenter\ShipperCenter.Web\ShipperCenter.Web\packages.config" />
  <repository path="..\..\Application\SignalRHubs\SignalRHubs\packages.config" />
  <repository path="..\..\AtlasComponent\Accounting\GlobalTranz.Components.Accounting.UnitTests\packages.config" />
  <repository path="..\..\AtlasComponent\AuditEngine\GlobalTranz.Components.AuditEngine\packages.config" />
  <repository path="..\..\AtlasComponent\CarrierRate.2\GlobalTranz.Components.CarrierRate.UnitTests\packages.config" />
  <repository path="..\..\AtlasComponent\CarrierRate.2\GlobalTranz.Components.CarrierRate\packages.config" />
  <repository path="..\..\AtlasComponent\LegacyService\GlobalTranz.Components.Legacy.Service\packages.config" />
  <repository path="..\..\AtlasComponent\Logger\GlobalTranz.Components.Logger\packages.config" />
  <repository path="..\..\AtlasComponent\RatingCenter\GlobalTranz.Components.RatingCenter.UnitTest\packages.config" />
  <repository path="..\..\AtlasComponent\RatingCenter\GlobalTranz.Components.RatingCenter\packages.config" />
  <repository path="..\..\AtlasComponent\RatingCenterParsingEngine\GlobalTranz.Components.RatingCenter.ParsingEngine\packages.config" />
  <repository path="..\..\AtlasComponent\RatingCenterService\GlobalTranz.Components.RatingCenter.Service\packages.config" />
  <repository path="..\..\AtlasComponent\RatingEngine\GlobalTranz.Components.RatingEngine\packages.config" />
  <repository path="..\..\AtlasComponent\Search\GlobalTranz.Components.Search.UnitTests\packages.config" />
  <repository path="..\..\AtlasComponent\Search\GlobalTranz.Components.Search\packages.config" />
  <repository path="..\..\AtlasComponent\SystemHistory\GlobalTranz.Components.SystemHistory.UnitTest\packages.config" />
  <repository path="..\..\AtlasComponent\SystemHistory\GlobalTranz.Components.SystemHistory\packages.config" />
  <repository path="..\..\AtlasComponent\ThirdPartyService\APIs\GlobalTranz.Components.ThirdPartyService.APIs\packages.config" />
  <repository path="..\..\AtlasComponent\ThirdPartyService\Falvey\GlobalTranz.Components.ThirdPartyService.Falvey\packages.config" />
  <repository path="..\..\AtlasComponent\ThirdPartyService\PCMiler\GlobalTranz.Components.ThirdPartyService.PCMiler\packages.config" />
  <repository path="..\..\AtlasComponent\ThirdPartyService\SMC3\GlobalTranz.Components.ThirdPartyService.SMC3\packages.config" />
  <repository path="..\..\AtlasPlatform\Atlas.Service\packages.config" />
  <repository path="..\..\HermesPlatform\Hermes.WebApi.Web\packages.config" />
</repositories>